<div style="flex-direction: row; align-items: center;" >
  <div style="float: left; margin: 0; padding: 0;">
    <img src="{{ include.image_path }}" style="padding: 0%;" alt="">
  </div>
  <a href="{{ include.url }}">{{ include.discription }}</a>
</div>


<div style="flex-direction: row; align-items: center;" >
  <div style="float: left; margin: 0; padding: 0;">
    <img src="{{ include.image_path }}" style="padding: 0%;" alt="">
  </div>
  <div style="float: left; margin: 0; padding: 0; height: 15px;">
    <a href="{{ include.url }}" style="margin: 0; padding: 0; height: 15px;">{{ include.discription }}</a>
  </div>
</div>

